<header>
  <div class="container flex space-between align-center">
    <a class="rm-text-deco-all" href="/"><h1>Simon's Bakery Inventory</h1></a>
    <div class="flex gap-sm">
      <a class="rm-text-deco-all" href="/items/new"><button class="btn flex align-center"><i data-lucide="circle-plus" class="icon-sm"></i>Add Item</button></a>
    </div>
  </div>
</header>